[submodule "generator"]
	path = generator
	url = git@github.com:TimeWtr/generator.git
	branch = master
[submodule "redirector"]
	path = redirector
	url = git@github.com:TimeWtr/redirector.git
	branch = master
[submodule "analytics"]
	path = analytics
	url = git@github.com:TimeWtr/analytics.git
	branch = master
[submodule "local_message_table"]
	path = local_message_table
	url = git@github.com:TimeWtr/local_message_table.git
	branch = master
